@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  blockquote,
  dl,
  dd,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre,
  th,
  td,
  a,
  li {
    @apply max-w-[45rem];
  }

  * {
    @apply font-quicksand;
  }

  details summary::-webkit-details-marker {
    @apply hidden;
  }

  :root {
    --green-0: 0 0% 100%; /* #FFFFFF */
    --green-50: 156 39% 92%; /* #E3F3EC */
    --green-100: 156 38% 89%; /* #D6EDE3 */
    --green-200: 156 38% 85%; /* #C8E6D9 */
    --green-300: 156 39% 73%; /* #A0D4BD */
    --green-400: 156 40% 61%; /* #77C2A1 */
    --green-500: 156 40% 54%; /* #4FAF85 */
    --green-600: 156 40% 38%; /* #3C8766 */
    --green-700: 156 39% 30%; /* #306C52 */
    --green-800: 156 38% 26%; /* #2A5E47 */
    --green-900: 156 38% 17%; /* #1E4333 */

    --red-0: 0 0% 100%; /* #FFFFFF */
    --red-50: 8 78% 97%; /* #FEF3F2 */
    --red-100: 8 81% 94%; /* #FEE4E2 */
    --red-200: 8 90% 87%; /* #FECDCA */
    --red-300: 8 95% 78%; /* #FDA29B */
    --red-400: 8 92% 69%; /* #F97066 */
    --red-500: 8 88% 61%; /* #F04438 */
    --red-600: 8 80% 49%; /* #D92D20 */
    --red-700: 8 76% 41%; /* #B42318 */
    --red-800: 8 69% 32%; /* #912018 */
    --red-900: 8 66% 29%; /* #7A271A */

    --gray-0: 0 0% 100%; /* #FFFFFF */
    --gray-50: 210 33% 98%; /* #F9FAFB */
    --gray-100: 210 23% 95%; /* #F2F4F7 */
    --gray-200: 210 18% 94%; /* #EAECF0 */
    --gray-300: 216 15% 84%; /* #D0D5DD */
    --gray-400: 217 9% 67%; /* #98A2B3 */
    --gray-500: 220 13% 46%; /* #667085 */
    --gray-600: 220 17% 35%; /* #475467 */
    --gray-700: 220 23% 26%; /* #344054 */
    --gray-800: 220 33% 18%; /* #25384A */
    --gray-900: 218 46% 10%; /* #111A23 */

    --radius: 0.5rem;
  }

  .dark {
    --green-900: 0 0% 100%; /* #FFFFFF */
    --green-800: 156 39% 92%; /* #E3F3EC */
    --green-700: 156 38% 89%; /* #D6EDE3 */
    --green-600: 156 38% 85%; /* #C8E6D9 */
    --green-500: 156 39% 73%; /* #A0D4BD */
    --green-400: 156 40% 61%; /* #77C2A1 */
    --green-300: 156 40% 54%; /* #4FAF85 */
    --green-200: 156 40% 38%; /* #3C8766 */
    --green-100: 156 39% 30%; /* #306C52 */
    --green-50: 156 38% 26%; /* #2A5E47 */
    --green-0: 156 38% 17%; /* #1E4333 */

    --red-900: 0 0% 100%; /* #FFFFFF */
    --red-800: 8 78% 97%; /* #FEF3F2 */
    --red-700: 8 81% 94%; /* #FEE4E2 */
    --red-600: 8 90% 87%; /* #FECDCA */
    --red-500: 8 95% 78%; /* #FDA29B */
    --red-400: 8 92% 69%; /* #F97066 */
    --red-300: 8 88% 61%; /* #F04438 */
    --red-200: 8 80% 49%; /* #D92D20 */
    --red-100: 8 76% 41%; /* #B42318 */
    --red-50: 8 69% 32%; /* #912018 */
    --red-0: 8 66% 29%; /* #7A271A */

    --gray-900: 0 0% 100%; /* #FFFFFF */
    --gray-800: 210 33% 98%; /* #F9FAFB */
    --gray-700: 210 23% 95%; /* #F2F4F7 */
    --gray-600: 210 18% 94%; /* #EAECF0 */
    --gray-500: 216 15% 84%; /* #D0D5DD */
    --gray-400: 217 9% 67%; /* #98A2B3 */
    --gray-300: 220 13% 46%; /* #667085 */
    --gray-200: 220 17% 35%; /* #475467 */
    --gray-100: 220 23% 26%; /* #344054 */
    --gray-50: 220 33% 18%; /* #25384A */
    --gray-0: 218 46% 10%; /* #111A23 */
  }
}
